
.wrapperDeveloperInfoAndPermission{
    width: 100%;
    display: flex;
    justify-content: center;
}
.developerInfoAndPermissionContainer{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: gray;
   font-size: x-small;
   text-align: center;
   font-weight: 600;
   border-top-style: solid;
   border-top-color: white;
    border-top-width: 1px;
    padding-top: 10px;
}
.developerInfoAndPermissionContainer p{
    margin-bottom: 5px;
}